:root {
  --body_background: white;
  --body_color: black;
}

.dark {
  --body_background: black;
  --body_color: white;
}

body {
   background-color: var(--body_background);
  color: var(--body_color);
 
}

html{
  scroll-behavior: smooth;
}

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #016ea0;
  --color-secondary: #00415f;
}

.button{
  @apply bg-secondary px-4 py-2 rounded text-white font-bold cursor-pointer hover:bg-white hover:text-secondary duration-500;
}


h1{
  @apply  text-4xl lg:text-5xl font-bold;
}
h2{
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}
h3{
  @apply text-xl font-bold;
}
h4{
  @apply text-lg font-semibold;
}
h5{
  @apply font-semibold;
}




